.feedback{
	background-image: url('img9.jpg');
	background-repeat: no-repeat;
 background-size: cover;
}
<style>
a:link {
    color: red;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}
</style>